#notif {
    padding: 10px;
    display: flex;
    align-items: center;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  #pseudo {
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
  }
  #startF{
    font-size: 0.7rem;
  }
}
