.singlecomment {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  .user__section {
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 5px;
      z-index: -1;
    }
    .pseudouser {
      margin-left: 5px;
    }
    .areaToggle{
      border: none;
      outline: none;
      resize: none;
      margin-left: 5px;
      margin-top: 15px;
    }
    .success{
      margin-right: 5px;
      margin-left: 5px;
      font-size: 0.8rem;
      color: white;
      background: #aaaaaa;
      padding: 5px;
      border-radius: 7px;
      cursor: pointer;
    }
    .commentuser {
      margin: 0px 5px;
      font-size: 0.8rem;
      width: 200px;
    }
    .comment__icon {
      position: absolute;
      left: 90%;
      cursor: pointer;
    }
  }
  .user__date {
    margin: 5px 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date {
      font-size: 0.8rem;
    }
    .three__dots{
      cursor: pointer;
      color: gray;
      margin-top: 5px;
      margin-right: 5px;
    }
    .edit__com{
      position: absolute;
      display: flex;
      left: 80%;
      top: 18%;
      .edit__com-edit{
        cursor: pointer;
        margin-top: 1px;

      }

      .edit__com-trash{
        margin-left: 5px;
        cursor: pointer;
        font-size: 1.1rem;
      }
    }
    .likes{
        font-size: 0.8rem;
    }
  }
}
